a.link {
	color:rgba(255,255,255,0.7);
	font-size:18px;
}
a.link:hover {
	color:white;
}
.small_font {
	font-size:20px;
	color:white;
	text-shadow: 0 0 8px #333;
	margin-top: -30px;
}
a.actives {
	color:white;
}
a.titles {
	font-size:21px;
}
.server_name {
	font-weight: 200;
	text-shadow: 0 0 8px #333;
	color:white;
	font-size:60px;
}
div.backgrounds {
	-webkit-filter: brightness(0.5);
	filter: brightness(0.5);
	position:absolute;
	width:100%; height:100%;
	z-index:-1;
	background:url(https://o3kqrmzmk.qnssl.com/21428544_p0.jpg) center no-repeat;
	background-size:cover;
}
body {
	font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "Hiragino Kaku Gothic Pro", Meiryo, "Malgun Gothic", "Helvetica Neue", sans-serif !important
}